<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/pennypincher.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> PennyPincher </h3>
    <ul>
      <li> Tech Stack : C++/Qt, QML, JS</li>
    </ul>
    <p>A Free and Open Source zero-based budgeting tool, which would serve as an
	alternative to YNAB. The project is currently in a very early stage, and I
	would make the code public once it is in a usable state.</p>
    <a class="project-link" href="#">Coming Soon</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/resumegenerator.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Resume Generator </h3>
    <ul>
      <li> Tech Stack : PHP, XeLaTeX, HTML, CSS, JS</li>
    </ul>
    <p>Made for educational purposes, it a web form based app which generates a
	PDF resume according to user input. The backend was designed to be flexible,
	and can easily incorporate new sections and templates, but the front-end
	isn't polished enough yet.</p>
    <a class="project-link" href="https://www.github.com/shubhamkrm/resumegenerator">Check it out</a>
  </div>
</div>
